*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/*message*/
.messagetext{
    
    width: calc(8.4375rem*3 + .75rem*2);
    min-width: calc(8.4375rem*3 + .75rem*2);
    background-color: lightblue;
    border-radius: 1rem;
   
    
    box-sizing: border-box;
}

.message{
    padding: 2rem;
    text-align: center;
    font-size: 2rem !important;    
}

/* board,cells*/
.tictactoe-game{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(9, 1, 1);
    gap: .75rem;
}
.cell{
    width: 8.4375rem;
    height: 8.4375rem;
    background-color: white;
    cursor: pointer;
}

/*circle,crss*/
.cross::before,
.cross-hover::before{
    content: "\274C";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 100%;

}

.circle::before,
.circle-hover::before{
    content: "\26AB";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 100%;
}

.cross-hover::before,
.circle-hover::before{

    opacity: .3;
    filter: grayscale(100%);
}

.overlay{
    max-height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    overflow: hidden;

}

.overlay h1{
    margin-bottom: .5rem;
    background: linear-gradient(to right,black,white,black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btns-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.btn{
    padding: 1rem .75rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    color: white;
    font-size:1.5rem ;
    background-size:  200% auto;
    cursor: pointer;
}
.btn:hover{
    background-position: right;
}

.btn-restart{
    background: linear-gradient(to right,#314755 0%,#26a0da 51%,#314755 100%);
}
.btn-quit{
    background: linear-gradient(to right,#d31027 0%,#5c0711 51%,#ea384d 100%);
}

.overlay.active{
    max-height: 100vh;
}

.highlight{
    background-color:lightblue
}